* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto; /* Center the content horizontally */
  max-width: 1200px; /* Adjust the maximum width as needed */
  padding: 0 20px; /* Add some padding to the sides */
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 0;
  /* Add these properties to make the menu take up the remaining space */

}

img.logoCandyCake {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.divider {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
ul {
  list-style: none;
  
}
nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

}
nav a {
  text-decoration: none;
  color: #000; 
  font-size: 20px;
}
nav a:hover {
  color: lightslategray; 
}

img.heroCake {
  margin: 10px;
  height: 400px;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
  
}
.heroText {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}
img.cakeProduct {
  display: flex;
  margin: 10px;
  height: 350px;
}
.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 800px;
  height: 350px;
  background-color: #B5F4F1;


}
footer {
    width: 100%;
    height: 50px;
    background-color: #B5F4F1;

    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
}