body {

}
.header {
  display: flex;
  justify-content: center;
    width: 100%;
    height: 150px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    position: center;
    align-items: center;
}

img.logoCandyCake {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider {
  display: flex;
  justify-content: center;
  margin-top: 150px;

}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


}
ul {
  list-style: none;
  
}
nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

}


img.heroCake {
  margin: 10px;
  height: 400px;
}
.hero {
  width: 100%;

  display: flex;
  justify-content: space-around;
  
}
.heroText {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #B5F4F1;

    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
}